*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-item{
    height:80vh;

}
.containers h1{
  text-align: center;
}
 
.containers{

  color:coral;
  background-color: black;
}

.mynavbar{
    color:coral !important;
    background-color: coral;
    padding: 10px;
 

}

/* .ul li:hover{
    color: coral;
    box-shadow: 10px 10px black;

} */

.ul li{
  color: coral;
  box-shadow: 10px 10px lightblue;

}

.thecard{
  color:coral;
  background-color:grey;
  padding-left: 5rem !important;
  

}

.mycard img{
  height:40vh;
  width: 2ovw;
}
 
.mycard{
    
    color: coral;
    padding: 50px;
    width: "750px"; height : "480px";
    margin:10px !important;
    background-color: coral !important;
     box-shadow:1px 5px white ;
}

.myimage{
      
      margin: 50px;
      height : "750px";
      padding-right: 130px;
      

}

/* #box1 {

  height: 75vh;
  width: 50vw;
  position: absolute;
  top: 12.8vh;
  bottom: 15vh;
  right: 10vw;
  left: 25vw;
  box-shadow: 10px 10px 5px aqua;
  border-radius: 20px 20px 20px 20px;
  z-index: 0;
  padding-left: 5px;
} */



/* #box2 {

  height: 50vh;
  width: 38vw;
  background-color: grey;
  position: absolute;
  top: 25vh;
  bottom: 30vh;
  right: 9vw;
  left: 31vw;
  z-index: 1;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 10px 10px 5px aqua;
  opacity: 55%;


} */

#box2:hover{


box-shadow: 10px 10px 5px coral;

}

#box2 {
  height: 50vh;
  width: 38vw;
  position: absolute;
  top: 25vh;
  bottom: 30vh;
  right: 9vw;
  left: 31vw;
  border-radius: 20px 20px 20px 20px;
  background-color:grey;
  padding: 25px;
  margin-left: 70px;

}

.form1{

  padding: 10px;
  margin: 10px;
  
}

.button1{

  padding-left: 10px;
  margin: 5px;
  font-family:'Times New Roman', Times, serif !important;
  font-weight: bold;
  font-size: large;
  
}

/* .button2{
  padding: 5px;
  margin: 2.5px;
} */

.arrow_icon{
  height: 20px;
  width: 20px;
}
.logo{
  border-radius: 50%;
}



.nav-item:hover{
  box-shadow: 5px 5px 5px #fff;
  
}

.nav-item {
  color: coral !important;
  padding: 5px;
  margin: 5px;
  
}

.carousel-caption h5 p imp{
  color: coral;
}

.mycarousel{
  color:coral !important;
  font-size: larger !important;
}

.mycard1{
  padding:10px;
  margin: 10px;

}

.thediv{
  margin-top: 35rem !important;
}



/* .footer{
  background-color: coral;
} */
/* 
@media screen and (min-width: 480px) {
  .form1{
    height:auto;
    width: auto;
  }
} */

.iscard{
  box-shadow:1px 5px black;
 

  background-color:coral !important;
  
}

.footer h5{
  color: #fff;
}
 
.footer link{
 text-decoration: none;
}

.rounded{
  text-decoration: none;
  text-align: left;
  color: #fff;
  overflow: hidden;
}

#email{
border-radius: 10px;

}

@media (max-width: 600px){
.button1{
  width:100%;
  float:none;

}
.btn{
  width:100%;
  float:none;
}

.form1{
  width: 100%;
}
}


@media  (min-width: 200px) and (max-width:567px){
  .iscarousel img{
    height: 100% !important;
  }
  .iscard{
    margin:0;
    padding:0;
  }
  
    .myimage{
      margin: 0;
      padding:0;
    }
    .footer1{
      display: flex;
      justify-content:center;
    }
    .button2{
    width:100%;
    float:none;
    }

    #box2 {
      height: 50vh;
      width: 38vw;
      position: absolute;
      top: 25vh;
      bottom: 30vh;
      right: 9vw;
      left: 9vw;
      border-radius: 20px 20px 20px 20px;
      background-color:grey;
      padding: 25px;
    }


  }
  
  @media (min-width: 567px) and (max-width:1080px){
    .iscarousel img{
      height: 100% !important;
    }
    .iscard{
        margin:0;
        padding:0;
    }
  .myimage{
   margin: 0;
   padding:0;
  }
  .footer1{
    display: flex;
    justify-content:center;
  }
  .button2{
    width:100%;
    float:none;
  }

  #box2 {
    height: 50vh;
    width: 38;
    position: absolute;
    top: 25vh;
    bottom: 30vh;
    right: 9vw;
    left: 9vw;
    border-radius: 20px 20px 20px 20px;
    background-color:grey;
    padding: 25px;
    
  
  }

}